body{
    padding: -10%;
}
#search {
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 110px auto;
    position: absolute;
    border-radius: 50px;
}

#town{
    height: 50px;
    width: 60%;
    font-size: 20px;
    margin: 35px auto;
    position: absolute;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 255, 255, 0.685);
}
#town::placeholder{
    text-align: center;
}

#container{
    margin: -1% -2% 0 -2%;
    width: 104%;
    height: 200px;
    background: url('img/background.jpg') no-repeat center;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.cell{
   display: inline-block; 
   width: 100px; 
   text-align: center;
}

#box{
    margin: 250px;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px;
    height: fit-content;
    width: 700px;
    float: left;
}


.hide{
    display: none;
}

.date{
    margin-top: 10px;
}
p{
    font-size: 30px;
}

#townName{
    height: 50px;
    width: fit-content;
    text-transform:capitalize;
    margin: 40px auto;
    font-size: 60px;
}
.arrow{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: inline-block;
    position: absolute;
    top: 300px;
}
#weatherBox{
    width: fit-content;
    height: fit-content;
    margin: 100px auto 0 auto;
    position: relative;
}

#left{
    background-image: url('img/arrow_l.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto 0 0;
    border-radius: 50%;
    cursor: pointer;
}
#right{
    background-image: url('img/arrow_r.png');
    background-position: center;
    background-size: cover;
    margin: 0 0 0 -100px;
    border-radius: 50%;
    cursor: pointer;
}